In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import h5py
%matplotlib inline

In [2]:
f = h5py.File('aot_chicago_data.h5', 'r')
list(f.keys())

['node_107e5d',
 'node_10890f',
 'node_109401',
 'node_109416',
 'node_109f62',
 'node_10b9e5',
 'node_10b9e7',
 'node_10b9e9',
 'node_10ba13',
 'node_10ba15',
 'node_10ba16',
 'node_10ba18',
 'node_10ba3b',
 'node_10ba46',
 'node_10ba57',
 'node_10ba81',
 'node_10ba8b',
 'node_10ba8f',
 'node_10bbe5',
 'node_10bbf9',
 'node_10bbff',
 'node_10bc07',
 'node_10bc10',
 'node_10bc12',
 'node_10e532',
 'node_10e537',
 'node_10e538',
 'node_10e539',
 'node_10e540',
 'node_10e809',
 'node_10e835',
 'node_10e8cb',
 'node_10ea5a',
 'node_10ee33',
 'node_10ee36',
 'node_10ee41',
 'node_10ee43',
 'node_10ee5d',
 'node_10ee61',
 'node_10ee6f',
 'node_10ee82',
 'node_10eef2',
 'node_10eef4',
 'node_10ef26',
 'node_10ef27',
 'node_10ef29',
 'node_10ef68',
 'node_10ef73',
 'node_10f02f',
 'node_10f05c',
 'node_10f513',
 'node_10f668',
 'node_10f6db',
 'node_10f6dd',
 'node_10f703',
 'node_10f730',
 'node_10f732',
 'node_10f8f4',
 'node_10fb4c',
 'node_112e77',
 'node_1130f4',
 'node_113100',
 'node_113107',
 'node_1135cb',
 'node_113a24',
 'node_113a48',
 'node_113acb',
 'node_113ace',
 'node_113ad6',
 'node_113ad8',
 'node_113ae8',
 'node_113ba6',
 'node_113cf1',
 'node_113cff',
 'node_113d20',
 'node_113d22',
 'node_113d32',
 'node_113d78',
 'node_113d83',
 'node_113dbc',
 'node_113f54',
 'node_11441e',
 'node_1144be',
 'node_1144c0',
 'node_1144cd',
 'node_1144d6',
 'node_114500',
 'node_114503',
 'node_11462f',
 'node_11463b',
 'node_1146ba',
 'node_1146bc',
 'node_1146cb',
 'node_1146d4',
 'node_1146d6',
 'node_114fcf',
 'node_114fd4',
 'node_114fd6',
 'node_114fd9',
 'node_115365',
 'node_115369',
 'node_11536c',
 'node_115379',
 'node_11537d',
 'node_115382',
 'node_117b41',
 'node_117b44',
 'node_11804d',
 'node_118182',
 'node_1181e8',
 'node_118295',
 'node_1182a1',
 'node_1182a2',
 'node_1182a3',
 'node_1182a7',
 'node_1183bf',
 'node_1183eb',
 'node_1183f3',
 'node_1183f5',
 'node_118433',
 'node_1184a3',
 'node_1184e7',
 'node_118501',
 'node_118509',
 'node_11850f',
 'node_11856d']

In [3]:
d = f['node_1183f3']
d.keys()

In [19]:
list(d['lightsense']['hih6130']['humidity'])

[100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0]

In [5]:
nodes = pd.read_csv('nodes.csv')
sensors = pd.read_csv('sensors.csv')
data = pd.read_csv('data.csv')

In [6]:
nodes.head()

,node_id,project_id,vsn,address,lat,lon,description,start_timestamp,end_timestamp
0,001e0610ba46,AoT_Chicago,004,State St & Jackson Blvd Chicago IL,41.878377,-87.627678,AoT Chicago (S) [C],2017/10/09 00:00:00,NaN
1,001e0610ba3b,AoT_Chicago,006,18th St & Lake Shore Dr Chicago IL,41.858136,-87.616055,AoT Chicago (S),2017/08/08 00:00:00,NaN
2,001e0610f02f,AoT_Chicago,00A,Lake Shore Drive & Fullerton Ave Chicago IL,41.926261,-87.630758,AoT Chicago (S) [CA],2018/05/07 00:00:00,NaN
3,001e0610ba8f,AoT_Chicago,00D,Cornell & 47th St Chicago IL,41.810342,-87.590228,AoT Chicago (S),2017/08/08 00:00:00,NaN
4,001e0610ba16,AoT_Chicago,010,Homan Ave & Roosevelt Rd Chicago IL,41.866349,-87.710543,AoT Chicago (S) [C],2018/07/18 00:00:00,NaN

In [7]:
sensors.head()

,ontology,subsystem,sensor,parameter,hrf_unit,hrf_minval,hrf_maxval,datasheet
0,/sensing/air_quality/gases/co,chemsense,co,concentration,ppm,0.0,1000.0,https://github.com/waggle-sensor/sensors/raw/m...
1,/sensing/air_quality/gases/h2s,chemsense,h2s,concentration,ppm,0.0,50.0,https://github.com/waggle-sensor/sensors/raw/m...
2,/sensing/air_quality/gases/no2,chemsense,no2,concentration,ppm,0.0,20.0,https://github.com/waggle-sensor/sensors/raw/m...
3,/sensing/air_quality/gases/o3,chemsense,o3,concentration,ppm,0.0,20.0,https://github.com/waggle-sensor/sensors/raw/m...
4,/sensing/air_quality/gases/oxidizing_gases,chemsense,oxidizing_gases,concentration,ppm,0.0,100.0,https://github.com/waggle-sensor/sensors/blob/...

In [8]:
print(data.head())
data.describe()

             timestamp       node_id   subsystem         sensor  \
0  2020/04/20 18:35:24  001e061183f3  lightsense  apds_9006_020
1  2020/04/20 18:35:24  001e061183f3  lightsense        hih6130
2  2020/04/20 18:35:24  001e061183f3  lightsense        hih6130
3  2020/04/20 18:35:24  001e061183f3  lightsense       hmc5883l
4  2020/04/20 18:35:24  001e061183f3  lightsense       hmc5883l

          parameter value_raw value_hrf
0         intensity     65535  5267.409
1          humidity     65535     100.0
2       temperature     65535    125.01
3  magnetic_field_x        -1    -0.909
4  magnetic_field_y        -1    -0.909

,timestamp,node_id,subsystem,sensor,parameter,value_raw,value_hrf
count,12212,12212,12212,12212,12212,11296,12002
unique,385,7,5,33,22,1990,1961
top,2020/04/20 18:51:56,001e06113107,metsense,mma8452q,temperature,65535,-0.977
freq,73,3360,5936,1272,3318,4316,862

In [9]:
sample_node = data[data['node_id'] == '001e061183f3']

In [10]:
sample_node.head()

,timestamp,node_id,subsystem,sensor,parameter,value_raw,value_hrf
0,2020/04/20 18:35:24,001e061183f3,lightsense,apds_9006_020,intensity,65535,5267.409
1,2020/04/20 18:35:24,001e061183f3,lightsense,hih6130,humidity,65535,100.0
2,2020/04/20 18:35:24,001e061183f3,lightsense,hih6130,temperature,65535,125.01
3,2020/04/20 18:35:24,001e061183f3,lightsense,hmc5883l,magnetic_field_x,-1,-0.909
4,2020/04/20 18:35:24,001e061183f3,lightsense,hmc5883l,magnetic_field_y,-1,-0.909

In [11]:
nodes.to_hdf('nodes.h5','nodes',mode='w')

/home/stomps/.local/lib/python3.6/site-packages/pandas/core/generic.py:2505: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->Index(['node_id', 'project_id', 'vsn', 'address', 'description',
       'start_timestamp', 'end_timestamp'],
      dtype='object')]

  encoding=encoding,

In [28]:
test = h5py.File('nodes.h5', 'r')
list(test['nodes']['block1_items'])

[b'node_id',
 b'project_id',
 b'vsn',
 b'address',
 b'description',
 b'start_timestamp',
 b'end_timestamp']

In [29]:
test2 = h5py.File("nodes2.h5", "a")

In [30]:
nodes_grp = test2.create_group('nodes')
nodes_grp.name

'/nodes'

In [33]:
nodes.head()

,node_id,project_id,vsn,address,lat,lon,description,start_timestamp,end_timestamp
0,001e0610ba46,AoT_Chicago,004,State St & Jackson Blvd Chicago IL,41.878377,-87.627678,AoT Chicago (S) [C],2017/10/09 00:00:00,NaN
1,001e0610ba3b,AoT_Chicago,006,18th St & Lake Shore Dr Chicago IL,41.858136,-87.616055,AoT Chicago (S),2017/08/08 00:00:00,NaN
2,001e0610f02f,AoT_Chicago,00A,Lake Shore Drive & Fullerton Ave Chicago IL,41.926261,-87.630758,AoT Chicago (S) [CA],2018/05/07 00:00:00,NaN
3,001e0610ba8f,AoT_Chicago,00D,Cornell & 47th St Chicago IL,41.810342,-87.590228,AoT Chicago (S),2017/08/08 00:00:00,NaN
4,001e0610ba16,AoT_Chicago,010,Homan Ave & Roosevelt Rd Chicago IL,41.866349,-87.710543,AoT Chicago (S) [C],2018/07/18 00:00:00,NaN

In [44]:
nodes['lat'].dtypes

dtype('float64')

In [45]:
lat = nodes_grp.create_dataset('lat',nodes['lat'].shape,dtype=nodes['lat'].dtypes)

In [53]:
for row in enumerate(nodes['lat']):
    lat[row[0]] = row[1]

In [54]:
test = h5py.File('nodes2.h5', 'r')
list(test.keys())

['nodes']

In [57]:
list(test['nodes']['lat'])

[41.878377,
 41.858136,
 41.9262614,
 41.810342,
 41.866349,
 41.88320529999999,
 41.7806,
 41.751238,
 41.852179,
 41.736314,
 41.768319,
 41.857797,
 41.8303847,
 41.722457,
 41.736495,
 41.965089,
 41.994597,
 41.832578999999996,
 41.882304,
 41.912681,
 41.743814,
 41.831827000000004,
 41.94672,
 41.878372,
 41.88431,
 41.914202,
 41.880732,
 41.741147999999995,
 41.881172,
 41.921405,
 41.846579,
 41.913583,
 41.846897,
 41.857775,
 41.903335,
 41.751295,
 41.779369,
 41.857959,
 41.946731,
 41.923996,
 41.751142,
 41.838618,
 41.895355,
 41.866786,
 41.808594,
 41.910922,
 41.786756,
 41.791329,
 41.78843,
 41.751142,
 41.794167,
 41.751142,
 41.794477,
 41.793278,
 41.906481,
 41.84241,
 41.831070000000004,
 41.918733,
 41.788979,
 41.8742,
 41.9140942,
 41.729355,
 41.880497,
 41.87148,
 41.96904,
 41.823527,
 41.946373,
 41.722044,
 41.75034,
 41.968757000000004,
 41.736593,
 41.965256,
 41.896157,
 41.788608,
 41.924903,
 41.895005,
 41.692769,
 41.961622,
 41.939121,
 41.916585999999995,
 41.903632,
 41.800846,
 41.795435999999995,
 41.892003100000004,
 41.66607800000001,
 41.713867,
 41.764122,
 41.954825,
 41.65849,
 41.685445,
 41.880759999999995,
 41.884688,
 41.839065999999995,
 41.884607,
 41.714494,
 41.947066,
 41.96759,
 41.943263,
 41.883540999999994,
 41.88326,
 41.88449,
 41.789737,
 41.88575,
 41.92617,
 41.692837,
 41.779804999999996,
 41.699234000000004,
 41.714021,
 41.721301000000004,
 41.706381,
 41.785715,
 41.794467,
 41.779889000000004,
 41.692703,
 41.691803,
 41.779744,
 41.779593,
 41.836875,
 41.820972,
 41.829806,
 41.829806,
 41.829806,
 41.829806,
 41.829806,
 41.829806,
 41.792543]