In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import h5py
%matplotlib inline

In [2]:
f = h5py.File('aot_chicago_data.h5', 'r')
list(f.keys())

['node_107e5d',
 'node_10890f',
 'node_109401',
 'node_109416',
 'node_109f62',
 'node_10b9e5',
 'node_10b9e7',
 'node_10b9e9',
 'node_10ba13',
 'node_10ba15',
 'node_10ba16',
 'node_10ba18',
 'node_10ba3b',
 'node_10ba46',
 'node_10ba57',
 'node_10ba81',
 'node_10ba8b',
 'node_10ba8f',
 'node_10bbe5',
 'node_10bbf9',
 'node_10bbff',
 'node_10bc07',
 'node_10bc10',
 'node_10bc12',
 'node_10e532',
 'node_10e537',
 'node_10e538',
 'node_10e539',
 'node_10e540',
 'node_10e809',
 'node_10e835',
 'node_10e8cb',
 'node_10ea5a',
 'node_10ee33',
 'node_10ee36',
 'node_10ee41',
 'node_10ee43',
 'node_10ee5d',
 'node_10ee61',
 'node_10ee6f',
 'node_10ee82',
 'node_10eef2',
 'node_10eef4',
 'node_10ef26',
 'node_10ef27',
 'node_10ef29',
 'node_10ef68',
 'node_10ef73',
 'node_10f02f',
 'node_10f05c',
 'node_10f513',
 'node_10f668',
 'node_10f6db',
 'node_10f6dd',
 'node_10f703',
 'node_10f730',
 'node_10f732',
 'node_10f8f4',
 'node_10fb4c',
 'node_112e77',
 'node_1130f4',
 'node_113100',
 'node_113107',
 'node_1135cb',
 'node_113a24',
 'node_113a48',
 'node_113acb',
 'node_113ace',
 'node_113ad6',
 'node_113ad8',
 'node_113ae8',
 'node_113ba6',
 'node_113cf1',
 'node_113cff',
 'node_113d20',
 'node_113d22',
 'node_113d32',
 'node_113d78',
 'node_113d83',
 'node_113dbc',
 'node_113f54',
 'node_11441e',
 'node_1144be',
 'node_1144c0',
 'node_1144cd',
 'node_1144d6',
 'node_114500',
 'node_114503',
 'node_11462f',
 'node_11463b',
 'node_1146ba',
 'node_1146bc',
 'node_1146cb',
 'node_1146d4',
 'node_1146d6',
 'node_114fcf',
 'node_114fd4',
 'node_114fd6',
 'node_114fd9',
 'node_115365',
 'node_115369',
 'node_11536c',
 'node_115379',
 'node_11537d',
 'node_115382',
 'node_117b41',
 'node_117b44',
 'node_11804d',
 'node_118182',
 'node_1181e8',
 'node_118295',
 'node_1182a1',
 'node_1182a2',
 'node_1182a3',
 'node_1182a7',
 'node_1183bf',
 'node_1183eb',
 'node_1183f3',
 'node_1183f5',
 'node_118433',
 'node_1184a3',
 'node_1184e7',
 'node_118501',
 'node_118509',
 'node_11850f',
 'node_11856d']

In [43]:
d = f['node_1183f3']
d.keys()

In [54]:
d['lightsense']['hih6130']['time'][:]

array([1736315.4, 1736315.9, 1736316.2, 1736316.6, 1736317.1, 1736317.5,
       1736317.9, 1736318.4, 1736318.8, 1736319.1, 1736319.6, 1736320. ,
       1736320.4, 1736320.9, 1736321.2, 1736321.6, 1736322.1, 1736322.5,
       1736322.9, 1736323.4, 1736323.8, 1736324.1, 1736324.6, 1736325. ,
       1736325.4, 1736325.9, 1736326.2, 1736326.6, 1736327.1, 1736327.5,
       1736327.9, 1736328.4, 1736328.8, 1736329.1, 1736329.6, 1736330. ,
       1736330.4, 1736330.9, 1736331.2, 1736331.6, 1736332.1, 1736332.5,
       1736332.9, 1736333.4, 1736333.8, 1736334.1, 1736334.6, 1736335. ,
       1736335.4, 1736335.9, 1736336.2, 1736336.6, 1736337.1, 1736337.5,
       1736337.9, 1736338.4, 1736338.8, 1736339.1, 1736339.6, 1736340. ,
       1736340.4, 1736340.9, 1736341.2, 1736341.6, 1736342.1, 1736342.5,
       1736342.9, 1736343.4, 1736343.8, 1736344.1], dtype=float32)

In [8]:
nodes = pd.read_csv('nodes.csv')
sensors = pd.read_csv('sensors.csv')
data = pd.read_csv('data.csv')

In [9]:
nodes.head()

,node_id,project_id,vsn,address,lat,lon,description,start_timestamp,end_timestamp
0,001e0610ba46,AoT_Chicago,004,State St & Jackson Blvd Chicago IL,41.878377,-87.627678,AoT Chicago (S) [C],2017/10/09 00:00:00,NaN
1,001e0610ba3b,AoT_Chicago,006,18th St & Lake Shore Dr Chicago IL,41.858136,-87.616055,AoT Chicago (S),2017/08/08 00:00:00,NaN
2,001e0610f02f,AoT_Chicago,00A,Lake Shore Drive & Fullerton Ave Chicago IL,41.926261,-87.630758,AoT Chicago (S) [CA],2018/05/07 00:00:00,NaN
3,001e0610ba8f,AoT_Chicago,00D,Cornell & 47th St Chicago IL,41.810342,-87.590228,AoT Chicago (S),2017/08/08 00:00:00,NaN
4,001e0610ba16,AoT_Chicago,010,Homan Ave & Roosevelt Rd Chicago IL,41.866349,-87.710543,AoT Chicago (S) [C],2018/07/18 00:00:00,NaN

In [10]:
sensors.head()

,ontology,subsystem,sensor,parameter,hrf_unit,hrf_minval,hrf_maxval,datasheet
0,/sensing/air_quality/gases/co,chemsense,co,concentration,ppm,0.0,1000.0,https://github.com/waggle-sensor/sensors/raw/m...
1,/sensing/air_quality/gases/h2s,chemsense,h2s,concentration,ppm,0.0,50.0,https://github.com/waggle-sensor/sensors/raw/m...
2,/sensing/air_quality/gases/no2,chemsense,no2,concentration,ppm,0.0,20.0,https://github.com/waggle-sensor/sensors/raw/m...
3,/sensing/air_quality/gases/o3,chemsense,o3,concentration,ppm,0.0,20.0,https://github.com/waggle-sensor/sensors/raw/m...
4,/sensing/air_quality/gases/oxidizing_gases,chemsense,oxidizing_gases,concentration,ppm,0.0,100.0,https://github.com/waggle-sensor/sensors/blob/...

In [33]:
print(data.head())
data.describe()

             timestamp       node_id   subsystem         sensor  \
0  2020/04/20 18:35:24  001e061183f3  lightsense  apds_9006_020
1  2020/04/20 18:35:24  001e061183f3  lightsense        hih6130
2  2020/04/20 18:35:24  001e061183f3  lightsense        hih6130
3  2020/04/20 18:35:24  001e061183f3  lightsense       hmc5883l
4  2020/04/20 18:35:24  001e061183f3  lightsense       hmc5883l

          parameter value_raw value_hrf
0         intensity     65535  5267.409
1          humidity     65535     100.0
2       temperature     65535    125.01
3  magnetic_field_x        -1    -0.909
4  magnetic_field_y        -1    -0.909

,timestamp,node_id,subsystem,sensor,parameter,value_raw,value_hrf
count,12212,12212,12212,12212,12212,11296,12002
unique,385,7,5,33,22,1990,1961
top,2020/04/20 18:53:11,001e06113107,metsense,hmc5883l,temperature,65535,-0.977
freq,73,3360,5936,1272,3318,4316,862

In [38]:
sample_node = data[data['node_id'] == '001e061183f3']

In [42]:
sample_node.head()

,timestamp,node_id,subsystem,sensor,parameter,value_raw,value_hrf
0,2020/04/20 18:35:24,001e061183f3,lightsense,apds_9006_020,intensity,65535,5267.409
1,2020/04/20 18:35:24,001e061183f3,lightsense,hih6130,humidity,65535,100.0
2,2020/04/20 18:35:24,001e061183f3,lightsense,hih6130,temperature,65535,125.01
3,2020/04/20 18:35:24,001e061183f3,lightsense,hmc5883l,magnetic_field_x,-1,-0.909
4,2020/04/20 18:35:24,001e061183f3,lightsense,hmc5883l,magnetic_field_y,-1,-0.909